body{
    background-color: rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color: white;
    text-transform: none;
    transition: 0.25s ease;

}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

ul li {
    text-decoration: none;
    margin: 0 0.7em 0 0.75em;
}

ul:hover a {
    color: rgb(158, 158, 255);
}

ul:hover a:hover {
    color: rgb(62, 62, 62);
    box-shadow: 0 2px 0 0 currentColor;
}

.Button1{
    margin-top: -800px;
    margin-left: 95%;
    background-color: rgba(0, 0, 0, 0);
}


.Moon{
    margin-left: 43%;
    margin-top: 10%;
}

.MoonVertical{
    margin-top: 398px;
}

.AboutUs{
    color: white;
    margin-top: -420px;
    margin-left: 45%;
    font-size: 40px;
}

.Paragraphs{
    color: white;
   text-align: center;
   width: 500px;
   height: 300px;
   margin-left: 33%;
   font-size: 15px;
}

.Box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    min-height: 100%;
    margin-top: 200px;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column: 24px;
    max-width: 1200px;
    width: 100%;
}

.card1{
    position: relative;
    list-style: none;
    height: 450px;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: brightness(0.75) saturate(1,2) contrast(0.85);
    transform: scale(1) translateZ(0);
    transform-origin: center;
    transition: filter 200ms linear; transform: 200ms linear;


}

.card:hover .background{
    transform: scale(1.15) translateZ(0);
    background-size: 300px;
}

.card-grid:hover > .card:not( :hover) {
    transform: scale(.9);
}

.card-grid:hover > .card:not(:hover) .card-background,
.card-grid:hover > .card:not(:hover) .card-Category, {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px); 
}

.content{
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
}

.content .Category{
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-size: 0.9rem;
}

.content .Heading{
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.9rem;
    line-height: 1.4;
    word-spacing: 100vw;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

@media screen and (max-width: 960px){
    .card-grid{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 30px;

}
}

@media screen and (max-width: 460px){
    .card-grid{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 30px;
        
}
}

.Logo{
    margin-left: 44%;
    
}

.Services{
    color: white;
    text-align: center;
}

.TreeSup{
    margin-top: -5px;
}

.TreeText{
    color: white;
    margin-left: 50%;
    margin-top: -900px;
    font-size: 50px;
}

.Footer{
    margin-top: 500px;
}

.TreeText2{
    color: white;
    margin-left: 53%;
    margin-top: -100px;
    font-size: 50px;
}

.TreeParagraph{
    width: 500px;
   height: 300px;
   color: white;
   margin-left: 50%;
   margin-top: -70px;
   text-align: center;

}

.DesertTree{
   margin-top: 100px;
   display: flex;
   justify-content: flex-end;
}


.DesertTreeText{
    color: white;
    font-size: 50px;
    margin-top: -450px;
    margin-left: 65px;
}

.DesertTreeText2{
    color: white;
    font-size: 50px;
    margin-top: -100px;
    margin-left: 60px;
}

.DesertTreeParagraph{
    color: white;
    width: 500px;
    height: 300px;
    text-align: center;
    margin-top: -70px;
    margin-left: 40px;
}